* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  position: relative;

  align-items: center;
  justify-content: center;

  gap: clamp(2rem, 26vw, 19rem);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  height: 100vh;
  width: 100vw;
}
.light-mode {
  --font-color: hsl(240, 6%, 21%);
  --button-bg: hsl(240, 9%, 89%);
  --select-button-bg: hsl(194 97% 31%);
  --svg-fill-bg: #323238;
}
.dark-mode {
  background: hsl(240, 5%, 7%);
  --font-color: white;
  --button-bg: hsl(240, 6%, 17%);
  --select-button-bg: hsl(195, 74%, 15%);
  --svg-fill-bg: white;
}

.hide {
  display: none;
}
button:hover {
  cursor: pointer;
}

.title {
  display: flex;
  font-size: 12rem;
}

main {
  display: grid;
  gap: 1.7rem;

  color: var(--font-color);
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls button {
  border: none;
  background-color: transparent;
}

aside {
  display: flex;
  flex-wrap: wrap;
  width: 30.8rem;
  gap: 3.2rem;
  justify-content: center;
}
aside button {
  display: grid;
  justify-items: center;
  padding: 2rem;
  background-color: var(--button-bg);

  height: clamp(4rem, 40vh, 13rem);
  width: clamp(3.44rem, 33vw, 11rem);

  border: none;
  border-radius: 20px;
}
button svg path {
  fill: var(--svg-fill-bg);
}

input[type="range"] {
  appearance: none;
  margin-top: 2rem;
  border-radius: 20px;
  background-color: var(--svg-fill-bg);
  height: 0.3rem;
  width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;

  height: 1rem;
  width: 1rem;

  border-radius: 50%;
  background-color: var(--svg-fill-bg);
}

.selected {
  background-color: var(--select-button-bg);
}
.selected input,
.selected input[type="range"]::-webkit-slider-thumb {
  background-color: white;
}
.selected svg path {
  fill: white;
}

.button-mode {
  position: absolute;
  top: 4rem;
  right: 4rem;

  height: 4.8rem;
  width: 4.8rem;

  border: none;
  background-color: transparent;
}
